* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
     
}
.App {
      width: 100%;
      
      margin: 0 auto;
      
}
.wrapper {
      display: flex;
      height: 100vw;
      background-color:rgb(0, 153, 255);
      
}
h1 {
      text-align: center;
      padding: 10px 0px;
      background-color:rgb(0, 100, 167);
      border-bottom: 1px solid gray;
}

.btn{
      width: 50%;
      font-size: 14px;
      height: max-content;
      padding: 5px;
      border-radius: 2px;
      background-color: orange
}

